body {
    color: #333333;
}

header,
main section,
footer {
    background-color: rgba(255, 255, 255, 0);
}

h1,
h2 {
    color: #d4af37;
}

table {
    border: 1px solid #d4af37;
    color: #333333;
}

tr,
td,
th {
    background-color: rgba(255, 215, 0, 0.2);
}

.table-primary {
    background-color: rgba(255, 215, 0, 0.2);
}

ul.list-group li,
ol.list-group li {
    background-color: rgba(255, 215, 0, 0.2);
    color: #333333;
}

p {
    color: #333333;
}